<template name="menu">
    <div id="left">
        <div class="logotype"><i class="material-icons">&#xE86F;</i>testly</div>
        <ul id="menu">
            <a href="{{pathFor 'sessions'}}"><li><i class="material-icons">&#xE87C;</i>Użytkownicy</li></a>
            <a href="{{pathFor 'methods'}}"><li><i class="material-icons">&#xE915;</i>Metody</li></a>
            <a href="{{pathFor 'subscriptions'}}"><li><i class="material-icons">&#xE627;</i>Subskrypcje</li></a>
            <a href="{{pathFor 'collections'}}"><li><i class="material-icons">&#xE873;</i>Kolekcje</li></a>
            <a href="{{pathFor 'operations'}}"><li><i class="material-icons">&#xE800;</i>Operacje</li></a>
            <a href="{{pathFor 'tests'}}"><li><i class="material-icons">&#xE877;</i>Testy</li></a>
        </ul>
    </div>
</template>
