<template name="collections">
    {{>menu}}

    <div id="right">
        <div class="top">
            <div class="left">
                <h1>Kolekcje ({{count}})</h1>
            </div>
            <div class="right">
                <div class="options">
                    <button class="remove remove-all"><i class="material-icons">&#xE15D;</i>USUŃ HISTORIĘ</button>
                    <button class="add new"><i class="material-icons">&#xE3E7;</i>WYBIERZ KOLEKCJĘ</button>
                </div>

                <div class="add-more">
                    <button class="close"><i class="material-icons">&#xE15D;</i>COFNIJ</button>
                    <button class="add fire"><i class="material-icons">&#xE3E7;</i>WYWOŁAJ</button>

                    <select name="remove">
                        <option value="" disabled selected>Remove</option>
                        <option value="true">Allow</option>
                        <option value="false">Deny</option>
                    </select>
                    <select name="update">
                        <option value="" disabled selected>Update</option>
                        <option value="true">Allow</option>
                        <option value="false">Deny</option>
                    </select>
                    <select name="insert">
                        <option value="" disabled selected>Insert</option>
                        <option value="true">Allow</option>
                        <option value="false">Deny</option>
                    </select>
                    <select name="sessions-count">
                        <option value="1" selected>1</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1500">1500</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                        <option value="50000">50000</option>
                    </select>
                    <select name="collections">
                        <option value="" disabled selected>Kolekcja</option>
                        {{#each listOfCollections}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="contener">
            {{>loader}}

            <h2>Przetestuj metody allow/deny lub akcje na bazie danych</h2>
            <table>
                <tr>
                    <td></td>
                    <td>Użytkownik</td>
                    <td>Kolekcja</td>
                    <td>Insert <span class="mini">(oczekiwania/rezultat)</span></td>
                    <td>Update <span class="mini">(oczekiwania/rezultat)</span></td>
                    <td>Remove <span class="mini">(oczekiwania/rezultat)</span></td>
                    <td>Opcje</td>
                </tr>
                {{#each collections}}
                    <tr>
                        <td>
                            <div class="relative">
                              <div class="pulse"></div>
                              <div class="span"></div>
                              <div class="span"></div>
                            </div>
                        </td>
                        <td>{{name}}</td>
                        <td>{{collection}}</td>
                        <td class="allow">
                            {{#if expectedInsert}}<span class="true"></span>{{ else }}<span class="false"></span>{{/if}}
                            {{#if insert}}<span class="true"></span>{{ else }}<span class="false"></span>{{/if}}
                        </td>
                        <td class="allow">
                            {{#if expectedUpdate}}<span class="true"></span>{{ else }}<span class="false"></span>{{/if}}
                            {{#if update}}<span class="true"></span>{{ else }}<span class="false"></span>{{/if}}
                        </td>
                        <td class="allow">
                            {{#if expectedRemove}}<span class="true"></span>{{ else }}<span class="false"></span>{{/if}}
                            {{#if remove}}<span class="true"></span>{{ else }}<span class="false"></span>{{/if}}
                        </td>
                        <td><i class="remove-this material-icons">&#xE888;</i></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</template>
