<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<template name="layout">
    {{ > yield }}
</template>
