html, body {
    width:100%;
    height:100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

button:focus {outline:0;}

/* loader */

.loader {
    width:100%;
    height:100%;
    position:fixed;
    display:none;
    left:0;
    top:0;
    background:rgba(95, 84, 148, 0.57);
    z-index:1;
}

#left {
    width:250px;
    height: 100%;
    background: #252525;
    float:left;
    box-sizing:border-box;
}

#right {
    width: calc(100% - 250px);
    float: left;
    height: 100%;
    box-sizing: border-box;
    background: #FBFBFB;
}

/* alert */

.alert
{
	font-size: 17px;
	position: fixed;
	background:#F52132;
	color:#fff;
	padding:20px 25px;
	box-sizing:border-box;
	display:none;
	bottom: 0px;
	right: 30px;
	border-radius:5px;
	z-index:999999;
}

.alert_true
{
	font-size: 17px;
	position: fixed;
	color:#fff;
	padding:20px 25px;
	box-sizing:border-box;
	display:none;
	bottom: 0px;
	right: 30px;
	border-radius:5px;
	background:rgb(29, 160, 46);
	z-index:999999;
}

/* Logotype */

#left .logotype {
    width: 100%;
    height: 105px;
    padding: 35px 25px;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    background: #5F5494;
}

#left #menu li i {
    width: 100%;
    text-align: center;
    padding: 10px 0 30px 0;
    font-size: 30px;
    margin-bottom: 20px;
    color: #696969;
}

#left #menu li {
    width: 100%;
    float: left;
    color: #C5C5C5;
    padding: 18px 25px;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    cursor:pointer;
    font-weight: 600;
}

#left #menu li:hover i,
#left #menu li:hover {
    color: #FFF;
}

#left #menu li a {
    color: #C5C5C5;
    text-decoration: none;
}

/*
    RIGHT
*/

#right h1 {
    font-size: 30px;
    color: #454545;
    font-weight: 300;
    padding:15px 0;
    font-weight:400;
}

#right h2 {
    font-size: 22px;
    color: #AAA;
    font-weight: 300;
    line-height: 35px;
}

#right .top {
    width:100%;
    float:left;
    height: 105px;
    padding: 20px 50px;
    background:#FFF;
    border-bottom: 1px #E8E8E8 solid;
}

#right .top .add-more {
    display:none;
}

#right .left {
    float:left;
}

#right .right {
    float:right;
}

#right .contener {
    width:100%;
    height:calc(100% - 105px);
    overflow-y: auto;
    float:left;
    padding: 25px 50px;
    position: relative;
}

#right button {
    padding: 15px 20px;
    border: 0px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    float:right;
    font-weight:600;
    cursor:pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-left:10px;
}

#right button.close {
    color: #5E5E5E;
    background: #DEDEDE;
    border:2px #DEDEDE solid;
}

#right button.remove {
    color: #FFF;
    background: #D22D38;
    border:2px #D22D38 solid;
}

#right button.remove:hover {
    color: #474747;
    background: none;
    border: 2px #D22D38 solid;
}

#right select {
    max-width:200px;
    float: right;
    padding: 17px 19px;
    border: 1px #CCC solid;
    background: #FFF;
    font-size: 16px;
    margin-left:10px;
}

#right button.add {
    color: #FFF;
    background: #47B967;
    border:2px #47B967 solid;
}

#right button.add:hover {
    color: #474747;
    background: none;
    border: 2px #47B967 solid;
}

#right button i {
    float:left;
    font-size:22px;
    margin-right:10px;
}

table {
    width:100%;
    float:left;
    margin:20px 0 0 0;
}

table tr td {
    padding:15px 25px;
    color:#ccc;
    line-height:30px;
}

table.tests tr:first-child td:nth-child(2n) {
    font-weight:normal;
}

table.tests tr td:nth-child(2n) {
    color:#5C5C5C;
    width:15%;
    font-weight:bold;
}

table tr td p.code {
    background: #F4F4F4;
    color:#847AB5;
    font-size: 18px;
    padding: 3px 4px;
    border: 1px #ccc solid;
    display: inline;
}

table tr td span.mini {
    width: 100%;
    float: left;
    font-size: 16px;
    margin-top: 7px;
    color: #AAA;
}

table tr td.allow span:first-child {
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}

table tr td.allow span:last-child {
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}

table tr td span.full {
    width: 100% !important;
    border-radius:8px;
}

table tr td span.true {
    background: #4BD271;
    float: left;
    width: 50%;
    padding: 5px;
}

table tr td span.false {
    background:#E6555F;
    float: left;
    width: 50%;
    padding: 5px;
}

table tr td:last-child,
table tr td:first-child {
    width:65px;
    text-align:center;
}

table tr td:last-child i {
    cursor:pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

table tr td:last-child i:hover {
    color:#000;
}

table tr:first-child td {
    border:0;
    font-size:20px;
    color: #454545;
}

table tr td {
    border-bottom: 1px #E4E4E4 solid;
    font-size: 18px;
    color: #9F9F9F;
    position:relative;
}

.relative {
    position: relative;
    width: 15px;
}

.span {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.pulse {
    border: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    background-color: rgba(71, 225, 141, 1);
}

.pulse.error {
    background-color: rgb(207, 53, 59);
}
