<template name="subscriptions">
    {{>menu}}

    <div id="right">
        <div class="top">
            <div class="left">
                <h1>Subskrypcje ({{count}})</h1>
            </div>
            <div class="right">
                <div class="options">
                    <button class="remove remove-all"><i class="material-icons">&#xE15D;</i>USUŃ WSZYSTKIE</button>
                    <button class="add new"><i class="material-icons">&#xE148;</i>SUBSKRYBUJ</button>
                </div>

                <div class="add-more">
                    <button class="close"><i class="material-icons">&#xE15D;</i>COFNIJ</button>
                    <button class="add fire"><i class="material-icons">&#xE3E7;</i>SUBSKRYBUJ</button>

                    <select name="sessions-count">
                        <option value="" disabled selected>Liczba użytkowników</option>
                        <option value="1">1</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1500">1500</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                        <option value="50000">50000</option>
                    </select>

                    <select name="publications">
                        <option value="" disabled selected>Publikacja</option>
                        {{#each listOfPublications}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="contener">
            {{>loader}}

            <h2>Średni czas odpowiedzi: {{average}} [s]</h2>
            <table>
                <tr>
                    <td></td>
                    <td>Użytkownik</td>
                    <td>Publikacja</td>
                    <td>Czas odpowiedzi [s]</td>
                    <td>Opcje</td>
                </tr>

                {{#each subscriptions}}
                    <tr>
                        <td>
                            <div class="relative">
                              <div class="pulse"></div>
                              <div class="span"></div>
                              <div class="span"></div>
                            </div>
                        </td>
                        <td>{{name}}</td>
                        <td>{{publication}}</td>
                        <td>{{miliseconds}}</td>
                        <td><i class="remove-this material-icons">&#xE888;</i></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</template>
