<template name="operations">
    {{>menu}}

    <div id="right">
        <div class="top">
            <div class="left">
                <h1>Operacje ({{count}})</h1>
            </div>
            <div class="right">
                <div class="options">
                    <button class="remove remove-all"><i class="material-icons">&#xE15D;</i>USUŃ HISTORIĘ</button>
                    <button class="add new"><i class="material-icons">&#xE3E7;</i>WYBIERZ KOLEKCJĘ</button>
                </div>

                <div class="add-more">
                    <button class="close"><i class="material-icons">&#xE15D;</i>COFNIJ</button>
                    <button class="add fire"><i class="material-icons">&#xE3E7;</i>WYWOŁAJ</button>

                    <select name="method">
                        <option value="" disabled selected>Wywołaj</option>
                        <option value="insert">Insert</option>
                        <option value="update">Update</option>
                        <option value="remove">Remove</option>
                    </select>
                    <select name="sessions-count">
                        <option value="1" selected>1</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1500">1500</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                        <option value="50000">50000</option>
                    </select>
                    <select name="collections">
                        <option value="" disabled selected>Kolekcja</option>
                        {{#each listOfCollections}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="contener">
            {{>loader}}

            <h2>Przetestuj insert || update || remove na bazie danych</h2>
            <table>
                <tr>
                    <td></td>
                    <td>Użytkownik</td>
                    <td>Kolekcja</td>
                    <td>Rezultat</td>
                    <td>Opcje</td>
                </tr>
                {{#each operations}}
                    <tr>
                        <td>
                            <div class="relative">
                              <div class="pulse"></div>
                              <div class="span"></div>
                              <div class="span"></div>
                            </div>
                        </td>
                        <td>{{name}}</td>
                        <td>{{collection}}</td>
                        <td>
                            {{#if result}}<span class="true full"></span>{{ else }}<span class="false full"></span>{{/if}}
                        </td>
                        <td><i class="remove-this material-icons">&#xE888;</i></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</template>
