<template name="sessions">
    {{>menu}}

    <div id="right">
        <div class="top">
            <div class="left">
                <h1>Sesje użytkowników ({{count}})</h1>
            </div>
            <div class="right">
                <div class="options">
                    <button class="remove remove-all"><i class="material-icons">&#xE15D;</i>USUŃ WSZYSTKIE</button>
                    <button class="add new"><i class="material-icons">&#xE148;</i>NOWA SESJA</button>
                </div>

                <div class="add-more">
                    <button class="close"><i class="material-icons">&#xE15D;</i>COFNIJ</button>
                    <button class="add fire"><i class="material-icons">&#xE148;</i>DODAJ</button>

                    <select name="sessions-count">
                        <option value="1" selected>1</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1500">1500</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                        <option value="50000">50000</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contener">
            {{>loader}}

            <h2>Stwórz nową sesję użytkownika, która odwoła się do istniejącej instancji Twojej aplikacji.</h2>
            <table>
                <tr>
                    <td></td>
                    <td>Użytkownik</td>
                    <td>Czas inicjalizacji</td>
                    <td>Opcje</td>
                </tr>

                {{#each sessions}}
                    <tr>
                        <td><div class="relative"><div class="pulse"></div></div></td>
                        <td>{{name}}</td>
                        <td>{{time}}</td>
                        <td><i class="remove-this material-icons">&#xE888;</i></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</template>
